/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5850ec;
  --ifm-color-primary-dark: #3d33e9;
  --ifm-color-primary-darker: #2f25e7;
  --ifm-color-primary-darkest: #1f16c8;
  --ifm-color-primary-light: #736def;
  --ifm-color-primary-lighter: #817bf1;
  --ifm-color-primary-lightest: #aaa6f5;
  --ifm-code-font-size: 95%;

  --sf-java-primary: #1EE2C7;
  --tailwind-gray-600: #4B5563;
  --tailwind-gray-800: #1F2937;
  --tailwind-gray-900: #111827;
}

html[data-theme='dark'] {
  --ifm-color-primary: #33c3b0;
  --ifm-color-primary-dark: #2eb09e;
  --ifm-color-primary-darker: #2ba696;
  --ifm-color-primary-darkest: #24897b;
  --ifm-color-primary-light: #41cdbb;
  --ifm-color-primary-lighter: #4bd0be;
  --ifm-color-primary-lightest: #68d8c9;

  --ifm-background-color: var(--tailwind-gray-900);
  --ifm-background-surface-color: var(--tailwind-gray-900);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Navbar */
.navbar {
  max-height: 3.5rem;
}

.navbar--dark {
  --ifm-navbar-background-color: var(--tailwind-gray-800);
}

.navbar__item {
  --ifm-navbar-link-hover-color: var(--sf-java-primary);
}

.navbar__brand img {
  margin-left: 0.25rem;
  max-width: 132px;
}

.react-toggle-track {
  background-color: var(--tailwind-gray-600) !important;
}

.menu__link--sublist:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
}

/* Menu & Content vertical spacing */
main .container.padding-bottom--lg {
  padding-bottom: 8rem !important;
}
main .container.padding-top--md {
  padding-top: 3rem !important;
}
main.container.margin-vert--lg {
  margin-top:  3rem !important;
  margin-bottom: 8rem !important;
}
aside nav.menu {
  padding-top: 3rem;
}

/* Removing separator between menu & content */
aside.docSidebarContainer_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocPage-styles-module {
  border-right: 0;
}

/* Footer */
.footer {
  padding-top: 1.5rem;
}

.footer--dark {
  --ifm-footer-background-color: var(--tailwind-gray-800);
}

.footer__item {
  --ifm-footer-link-hover-color: var(--sf-java-primary);
}

.footer .container {
  display: flex;
  flex-direction: column;
}

.footer__col {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer__title { /* Copyright */
  margin: 0;
  order: 9999;
  font-weight: 400;
}

.footer__items { /* Footer menu */
  display: flex;
  flex-direction: column;
}

.footer__item { /* Footer menu item */
  margin-bottom: 0.5rem;
}

.footer__bottom { /* Footer logo */
  order: -9999;
  text-align: left;
}

.footer__bottom a {
  opacity: 1;
}

@media only screen and (min-width: 999px) {
  .footer .container {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .footer__col {
    flex-direction: row;
    align-items: center;
  }

  .footer__links { margin-bottom: 0; }

  .footer__items { /* Footer menu */
    flex-direction: row;
  }

  .footer__item { /* Footer menu item */
    margin-bottom: 0;
    margin-right: 3rem;
  }

  .footer__bottom { /* Footer logo */
    display: block;
    flex-grow: 1;
  }
}