---
title: Verification
---
# What does verification mean?

`Verified` - means that the use case has been verified, tested and published by Superface. This means that the use case is ready to be used in production. If you find any bugs, please report them to [support@superface.ai](mailto:support@superface.ai).


`Unverified` - means that the use case has been published by someone else than Superface. This means you should be careful when using it in production.

## Can I verify my use case?

Definitely! Please contact us at [support@superface.ai](mailto:support@superface.ai) and we will get back to you as soon as possible.