name: Prune closed PR deployment environments

on:
  pull_request:
    types: [closed]

jobs:
  prune:
    name: Prune deployments for closed PRs
    runs-on: ubuntu-latest
    steps:
      - uses: rlespinasse/github-slug-action@v3.x
        name: Inject slug/short variables

      - name: Remove deployment & environment
        uses: strumwolf/delete-deployment-environment@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          environment: ${{ env.GITHUB_HEAD_REF_SLUG_URL }}